Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g24, pull requests merged in 2024-11, with the labels that each got.

#72 Fix python sandbox container not found
  apps/execution-service/execution/python/python.go
Labels: bug, execution-service

#68 feat: add test cases to question service
  apps/frontend/src/app/collaboration/[id]/page.tsx
  apps/frontend/src/app/question/[id]/page.tsx
  apps/frontend/src/app/question/[id]/styles.scss
  apps/frontend/src/components/question/QuestionDetailFull/QuestionDetailFull.tsx
  apps/frontend/src/components/question/QuestionDetailFull/styles.scss
  apps/frontend/src/components/question/TestcaseDetail/TestcaseDetail.tsx
  apps/frontend/src/components/question/TestcaseDetail/styles.scss
Labels: frontend

#70 feat: add message queue
  .github/workflows/test.yml
  apps/docker-compose.yml
  apps/execution-service/.env.example
  apps/execution-service/README.md
  apps/execution-service/go.mod
  apps/execution-service/go.sum
  apps/execution-service/handlers/submit.go
  apps/execution-service/main.go
  apps/execution-service/messagequeue/rabbitmq.go
  apps/execution-service/utils/log.go
  apps/history-service/.env.example
  apps/history-service/README.md
  apps/history-service/databases/history.go
  apps/history-service/go.mod
  apps/history-service/go.sum
  apps/history-service/handlers/create.go
  apps/history-service/main.go
  apps/history-service/messagequeue/rabbitmq.go
  apps/history-service/utils/log.go
Labels: history-service, execution-service

#71 fix(frontend): :bug: mount component before accessing local storage
  apps/frontend/src/app/collaboration/[id]/page.tsx
  apps/frontend/src/components/CollaborativeEditor/CollaborativeEditor.tsx
  apps/frontend/src/components/VideoPanel/VideoPanel.tsx
Labels: bug, frontend

#84 feat: add session status tooltip
  apps/frontend/src/app/collaboration/[id]/page.tsx
Labels: frontend

#78 fix: remove update for username
  apps/frontend/src/app/profile/page.tsx
Labels: bug

#80 fix: error handling and history pagination bug
  apps/frontend/__tests__/unit-tests/question.test.ts
  apps/frontend/src/app/collaboration/[id]/page.tsx
  apps/frontend/src/app/question/[id]/page.tsx
  apps/frontend/src/app/services/execute.ts
  apps/frontend/src/app/services/question.ts
  apps/history-service/models/pagination.go
Labels: bug

#76 docs: update documentation
  README.md
  apps/README.md
  apps/execution-service/README.md
  apps/frontend/README.md
  apps/history-service/README.md
  apps/matching-service/README.md
  apps/matching-service/processes/findmatches.go
  apps/question-service/README.md
  apps/signalling-service/README.md
  apps/user-service/README.md
  docs/architecture_diagram.png
  docs/browser_test.png
  docs/cicid.md
  docs/code_editor.png
  docs/collab_page_1.png
  docs/collab_page_2.png
  docs/collaboration_service.png
  docs/communication_between_collab_and_matching.png
  docs/exeuction_process.png
  docs/frontend_matchmaking_architecture.png
  docs/grpc.png
  docs/home_page.png
  docs/indiv_question_page.png
  docs/jwt_verification.png
  docs/peerjs.png
  docs/question_page.png
  docs/question_service_testing.png
  docs/rabbit_mq_queue.png
  docs/redis_pubsub.png
  docs/setup.md
  docs/submission_history_page.png
  docs/submission_process.png
  docs/unit_testing_workflow.png
  docs/userflow.png
  docs/websocket.png
Labels: documentation

#85 Attempt at N4 to add JavaScript into Code Editor
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/app/collaboration/[id]/page.tsx
  apps/frontend/src/components/CollaborativeEditor/CollaborativeEditor.tsx
  apps/frontend/src/components/Header/header.tsx
  apps/frontend/src/utils/SelectOptions.ts
Labels: frontend, collaboration-service

#83 feat: update frontend ui for testcases
  apps/execution-service/handlers/readall.go
  apps/execution-service/handlers/readvisible.go
  apps/execution-service/main.go
  apps/execution-service/models/visibleTest.go
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/app/question/page.tsx
  apps/frontend/src/app/services/execute.ts
Labels: frontend

#88 feat: n4 add javascript execution
  apps/docker-compose.yml
  apps/execution-service/constants/constant.go
  apps/execution-service/execution/node/Dockerfile
  apps/execution-service/execution/node/javascript.go
  apps/execution-service/utils/executeTest.go
  apps/frontend/src/app/collaboration/[id]/page.tsx
  apps/frontend/src/components/CollaborativeEditor/CollaborativeEditor.tsx
Labels: frontend, execution-service

#75 feat: add create, update, delete test
  apps/execution-service/README.md
  apps/execution-service/go.mod
  apps/execution-service/go.sum
  apps/execution-service/handlers/create.go
  apps/execution-service/handlers/delete.go
  apps/execution-service/handlers/readall.go
  apps/execution-service/handlers/readvisible.go
  apps/execution-service/handlers/update.go
  apps/execution-service/main.go
  apps/execution-service/models/visibleTest.go
  apps/execution-service/utils/populate.go
  apps/execution-service/utils/validateTestCaseFormat.go
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/app/question/page.tsx
  apps/frontend/src/app/services/execute.ts
Labels: execution-service

#91 Solomon/fix multiple code saved messages
  apps/frontend/src/app/collaboration/[id]/page.tsx
  apps/frontend/src/components/CollaborativeEditor/CollaborativeEditor.tsx
  apps/frontend/src/components/question/TestcaseDetail/TestcaseDetail.tsx
Labels: bug, frontend
